<div fxLayoutAlign="center center" class="screen1" fxFlex.xs=100>
  <div fxLayout="column" fxLayoutAlign="center center " style="border-radius: 10px; border: 1px solid darkgrey;"
    fxFlex.xs=100>

    <form [formGroup]="forgetpasswordForm" fxFlex.xs=100>
      <div>
        <span class="textsty" style="color:#4169e1">F</span>
        <span class="textsty" style="color:#b22222">u</span>
        <span class="textsty" style="color: #ff8c00">n</span>
        <span class="textsty" style="color:#4169e1">d</span>
        <span class="textsty" style="color:#008000">o</span>
        <span class="textsty" style="color:#FF0000">o</span>
      </div>
      <p class="textsty">Reset Password</p>
      <p>Enter your new passsword</p>
    
      <div fxLayout="column" fxLayoutAlign="center center ">
      <div>
        <mat-form-field  appearance="outline">
          <mat-label>New Password</mat-label>
          <input matInput placeholder="" [type]="hide ? 'password' : 'text'" formControlName= "password">
          <mat-error>Enter password</mat-error>
        </mat-form-field>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button> 
      </div>
      <div>
        <mat-form-field  appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput placeholder="" [type]="conhide ? 'password' : 'text'" formControlName= "confirmPassword" >
          <mat-error>Re-enter password</mat-error>
        </mat-form-field>
        <button mat-icon-button matSuffix (click)="conhide = !conhide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{conhide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button> 
      </div>
      </div>

      <div class="lastbuttons" div fxLayout="row" fxLayoutAlign="end center">
        <button class="nextbutton" mat-raised-button (click)="onSubmit()">Next</button>
      </div>

    </form>
  </div>
</div>