body{
    overflow-x: hidden;
}
.screen1{
    // border: 2px solid green;
    width: 98vw;
    height: 100vh;
    
}
.content{
    border-radius: 10px;
    border: 1px solid darkgrey;
    width: 35%;
    height: 90%;
}
.textsty{
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
    text-indent: -1px;
}
.email{
    //  border: 1px solid green;
    width: 400px;
    // height: 5%;
}
.emaildiv{
    // border: 2px solid orange;
    width: 100%;
}
.button{
    border: none;
    color: var(--gm-colortextbutton-state-color,hsla(256, 89%, 52%, 0.911));
    background-color: white;
    cursor: pointer;
}
.forget{
    width: 80%;
}
.learn{
    width: 80%;
    margin-top: 20px;
}
.nextbutton{
    background-color: mediumblue;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}
.lastbuttons{
    // border: 2px solid red;
    margin-top: 10%;
    width: 80%;
}