<div fxLayoutAlign="center center" class="screen1" fxFlex.xs=100>
  <div fxLayout="column" fxLayoutAlign="center center" style="border-radius: 10px; border: 1px solid darkgrey;"
  fxFlex.xs=100>

    <form [formGroup]="loginForm" fxFlex.xs=100>
      <div>
        <span class="textsty" style="color:#4169e1">F</span>
        <span class="textsty" style="color:#b22222">u</span>
        <span class="textsty" style="color: #ff8c00">n</span>
        <span class="textsty" style="color:#4169e1">d</span>
        <span class="textsty" style="color:#008000">o</span>
        <span class="textsty" style="color:#FF0000">o</span>
      </div>
      <p class="textsty">Sign in</p>
      <p>Use your Fundoo Account</p>
    
      <div  >
        <mat-form-field  appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="" formControlName="email">
          <mat-error>Enter email</mat-error>
        </mat-form-field>
      </div>

      <div >
        <mat-form-field  appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="" formControlName="password" />
          <mat-error>Enter password</mat-error>
        </mat-form-field>
      </div>

      <div class="forget" fxLayout="column" fxLayoutAlign="start start">
        <button class="button" routerLink='/forgetemail'>Forget email?</button>
      </div>

      <div class="learn" fxLayout="column" fxLayoutAlign="start start">
        <p> Not your computer? Use Guest mode to sign in privately.</p>
        <button class="button">Learn more</button>
      </div>

      <div class="lastbuttons" fxLayout="row" fxLayoutAlign="space-between ">
        <button class="button" routerLink='/registration'>Create Account</button>
        <button class="nextbutton" mat-raised-button (click)="onSubmit()">Next</button>
      </div>
    </form>
  </div>
</div>