<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

  <mat-toolbar color="white" class="example-toolbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
      (click)="snav.toggle()">
      <img style="width: 25px; height: 25px; margin-left: 20px; margin-right: 15px;"
        src="../../../assets/menu_black_24dp.svg" alt=""> </button>

    <div fxLayout="row">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <img style="width: 40px; height: 40px; margin-left: 25px; margin-top: -5px;" src="../../../assets/keepimage.png"
          alt=""></button>
      <a style="font-size: 25px; margin-top: 10px; margin-left: 50px;">Fundoo</a>
    </div>

    <div>
      <mat-form-field style=" width: 700px; margin-left: 250px; height: -5px;margin-top: -15px;" appearance="outline">
        <mat-icon matPrefix>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <img style="width: 25px; height: 25px; margin-top: -20px;" src="../../../assets/search_black_24dp.svg"
              alt=""></button>
        </mat-icon>
        <input matInput style="margin-left: 45px; font-size: 20px;height: 30px;" placeholder="Search">

      </mat-form-field>

    </div>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <img style="width: 25px; height: 25px; margin-left: 250px; margin-right: 15px;"
        src="../../../assets/refresh_black_24dp.svg" alt="">
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <img style="width: 25px; height: 25px; margin-left: 280px; margin-right: 15px;"
        src="../../../assets/view_stream_black_24dp.svg" alt="">
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <img style="width: 25px; height: 25px; margin-left: 310px; margin-right: 15px;"
        src="../../../assets/settings_black_24dp.svg" alt="">
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <img style="width: 25px; height: 25px; margin-left: 400px; margin-right: 15px;"
        src="../../../assets/apps_black_24dp.svg" alt="">
    </button>
    <button mat-icon-button (click)="logout()" class="example-icon" aria-label="Example icon-button with share icon">
      <img style="width: 25px; height: 25px; margin-left: 430px; margin-right: 15px;"
        src="../../../assets/account_circle_black_24dp.svg" alt="">
    </button>
    <!-- <mat-menu #menu="matMenu">
        <button mat-menu-item >Log out</button>
    </mat-menu> -->
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 50 : 70">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list (mouseleave)="isExpandable=false">
        <div class="navlist" fxLayout="row" fxLayoutAlign="start center" (mouseover)="isExpandable=true"
          fxLayoutGap="20px" mat-list-item (click)="notes();">
          <button class="navBtn btnPosition" mat-icon-button (mouseover)="isExpandable=true">
            <img src="../../../assets/lightbulb_black_24dp.svg" alt="">
          </button>
          <p class="navName" *ngIf="isExpandable">Notes</p>
        </div>

        <div class="navlist" fxLayout="row" fxLayoutAlign="start center" (mouseover)="isExpandable=true"
          fxLayoutGap="20px" mat-list-item (click)="reminder();">
          <button class="navBtn btnPosition" mat-icon-button (mouseover)="isExpandable=true">
            <img src="../../../assets/notifications_black_24dp.svg" alt="">
          </button>
          <p class="navName" *ngIf="isExpandable">Reminders</p>
        </div>

        <div class="navlist" fxLayout="row" fxLayoutAlign="start center" (mouseover)="isExpandable=true"
          fxLayoutGap="20px" mat-list-item (click)="editlabel();">
          <button class="navBtn btnPosition" mat-icon-button (mouseover)="isExpandable=true">
            <img src="../../../assets/edit_black_24dp.svg" alt="">
          </button>
          <p class="navName" *ngIf="isExpandable">Edit Labels</p>
        </div>

        <div class="navlist" fxLayout="row" fxLayoutAlign="start center" (mouseover)="isExpandable=true"
          fxLayoutGap="20px" mat-list-item (click)="archive();">
          <button class="navBtn btnPosition" mat-icon-button (mouseover)="isExpandable=true">
            <img src="../../../assets/archive_black_24dp.svg" alt="">
          </button>
          <p class="navName" *ngIf="isExpandable">Archive</p>
        </div>

        <div class="navlist" fxLayout="row" fxLayoutAlign="start center" (mouseover)="isExpandable=true"
          fxLayoutGap="20px" mat-list-item (click)="trash();">
          <button class="navBtn btnPosition" mat-icon-button (mouseover)="isExpandable=true">
            <img src="../../../assets/delete_black_24dp.svg" alt="">
          </button>
          <p class="navName" *ngIf="isExpandable">Trash</p>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content style="overflow-x: hidden;">
      <router-outlet></router-outlet>
      <!-- <p *ngFor="let content of fillerContent">{{content}}</p> -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>