<div  style="margin-left: 50px;"  fxLayout="row wrap" >
   <div *ngFor="let note of NotesList | search : searchWord ">                      <!--  | search : 'refresh' -->
    <mat-card class="discard"  [style.background]="note.color" class="example-card">
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      <mat-card-title style="font-size: 20px;"(click)="openDialog(note)">{{note.title}}</mat-card-title>
      <mat-card-content style="font-size: 15px; margin-top: 15px;" (click)="openDialog(note)">
        <!-- <p>This card has divider and indeterminate progress as footer</p> -->
        <p>{{ note.description }}</p>

      </mat-card-content>
      <!-- <mat-divider inset></mat-divider> -->
      
      <div fxLayout="row" >
        <div *ngFor="let collaborate of note.collaborators">
          <button mat-mini-fab style=" background-color: #c09999;">{{collaborate.firstName[0]}}</button>
      </div>
    </div>
     <div>
       <span>{{note.reminder}}</span>
     </div>
  
      <mat-card-actions>

       


        <div class="hide"  fxLayoutAlign="space-evenly center" >
        <app-icons [noteCard]="note" (messageTrashtoDisplay)="receivemessageTrashtoDisplay($event)" ></app-icons>
      </div>
      </mat-card-actions>
      <mat-card-footer>

      </mat-card-footer>
    </mat-card>
  </div>
</div>
<!-- (click)="openDialog(note)" -->