<div style="margin-left: 50px;"  fxLayout="row wrap" >
  <div *ngFor="let note of NotesList">
    <mat-card style="border:0.2px solid #D3D3D3 ; width: 320px;margin: 15px; border-radius: 20px;" [style.background]="note.color" class="example-card">
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      <mat-card-title (click)="openDialog(note)">{{note.title}}</mat-card-title>
      <mat-card-content style="font-size: 18px; margin-top: 15px;" (click)="openDialog(note)">
        <!-- <p>This card has divider and indeterminate progress as footer</p> -->
        <p>{{ note.description }}</p>
      </mat-card-content>
      <!-- <mat-divider inset></mat-divider> -->
      <mat-card-actions>
        <div style=" margin-bottom: -30px;" fxLayoutAlign="space-evenly center" >
        <app-icons [noteCard]="note" (messageTrashtoDisplay)="receivemessageTrashtoDisplay($event)" ></app-icons>
      </div>
      </mat-card-actions>
      <mat-card-footer>

      </mat-card-footer>
    </mat-card>
  </div>
</div>
<!-- (click)="openDialog(note)" -->