.example-card{
    border:0.2px solid #D3D3D3 ;
     width: 220px;
     margin: 15px;
      border-radius: 5px;
}

.hide{
    // border: 2px solid yellowgreen;
    visibility: hidden;
    margin-top: 10px;
    margin-bottom: -30px;
    margin-right: 30px;
}

.example-card:hover .hide{
    // border: 2px solid yellowgreen;
    margin-left: 50px;
    visibility: visible;

}
// .backdropBackground{
//     background-color: yellowgreen;
// }
mat-dialog-container {
    background: yellow !important;
 }